/*  */
*{
    background-image: url('../images/background_image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* Text style */
h1{
    text-align: center;
    margin-top: 2rem;
    color: #AB2346;
    font-size: 4rem;

}

p{
    color: white;
    text-align: center;
    font-size: 1.4em;
}


