/* Header style */
.header h1{
    text-align: center;
    margin-top: 2rem;
    color: #AB2346;
    font-size: 6rem;
    border-bottom: 2px solid #BA5474;
    padding: 5px;
}

.home-img{
    margin-top: -8rem;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

.header p{
    color: #AB2346;
    text-align: center;
    font-size: 2em;
}

.header{
    margin-top: 15rem;
    font-family: Arial, Helvetica, sans-serif;
}
/* List style */

.list-text{
    margin-top: 6rem;
}

.container-lists{
    margin-top: 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.list-one, .head-list-1{
    display: flex;
    justify-content:flex-start;
    margin-left: 5rem;
}


.list-two, .head-list-2{
    display: flex;
    justify-content:flex-end;
    margin-right: 5rem;
}

.list-one{
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    font-size: 1.5rem;
}

.list-two{
    margin-top: 1.5rem;
    margin-right: 10rem;
    font-size: 1.5rem;
}


.list-one li, .list-two li{
    padding: 10px;
    list-style: none;
    color: #FF00B3;
}
