/* Footer style */
.footer{
    list-style-type: none;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.footer-item{
    padding: 0.5rem;
    font-size: 1.7rem;
}

.footer .github, .linkedin{
    color: #C80D85;
}

.footer .github:hover{
    color: black !important;
}